@font-face {
  font-family: Devroye;
  src: url(/fonts/DEVROYE_.ttf);
}

@font-face {
  font-family: Peas;
  src: url(/fonts/Yellow\ Peas\ Bold\ demo.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --card-witdh: 344px;
  --card-height: 216px;
  --header-height: 50px;
  --footer-height: 20px;
  --main-color: 45, 106, 79;
  --secondary-color: 173, 216, 230;
  --menu-width: 252px;
}

body {
  background: linear-gradient(
    rgb(var(--main-color)),
    rgb(var(--secondary-color))
  );
  margin: 0 auto;
}

.header {
  position: fixed;
  width: 100vw;
  height: var(--header-height);
  background: rgba(var(--secondary-color), 0.9);
  text-align: center;
  top: 0;
  box-shadow: 5px 5px 5px black;
  z-index: 2;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 2rem;
  font-family: Peas;
}

#cards-wrapper {
  width: 100%;
  display: grid;
  gap: 1em;
  grid-template-columns: repeat(auto-fill, var(--card-witdh));
  padding: 1em;
  margin: var(--header-height) 0 var(--footer-height) 0;
}

#aside {
  background: linear-gradient(
    rgb(var(--secondary-color)),
    rgb(var(--main-color))
  );
  width: var(--menu-width);
  border-radius: 0 2rem 2rem 0;
  padding: 1rem;
  font-family: Peas;
  font-size: 1.5em;
  position: fixed;
  top: calc(var(--header-height) + 30px);
  left: calc(-1 * var(--menu-width));
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: black;
}

#close-button,
#menu-button {
  width: 20px;
  height: auto;
}

#close-button {
  position: absolute;
  top: 10px;
  right: 10px;
}

#aside.hidden {
  transform: translatex(-var(--menu-width));
  transition: transform 0.4s ease-in-out;
}

#aside:not(.hidden) {
  transform: translatex(var(--menu-width));
  transition: transform 0.4s ease-in-out;
}

#close-button:hover,
#menu-button:hover {
  cursor: pointer;
}

#sort-and-filter {
  text-align: right;
}

fieldset {
  background: linear-gradient(
    rgb(var(--main-color)),
    rgb(var(--secondary-color))
  );
  padding: 0.2rem;
  margin: 0 auto;
  border: 5px solid black;
  border-radius: 10px;
}

h2 {
  text-align: center;
}

.footer {
  width: 100vw;
  height: var(--footer-height);
  background: rgba(rgb(var(--main-color)), 0.8);
  border-top: 1px solid black;
  text-align: center;
  position: fixed;
  bottom: 0px;
  font-family: Peas;
  vertical-align: center;
}

.card {
  width: var(--card-witdh);
  height: var(--card-height);
  border: 2px solid black;
  display: grid;
  grid-template-rows: 3fr 2fr;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
}

.card-top {
  font-family: Devroye;
  font-size: 1.5em;
  position: relative;
  display: flex;
  justify-content: space-between;
  background-color: rgba(var(--main-color), 0.6);
  border-radius: 1rem 1rem 0 0;
  padding: 1rem;
}
.card-image {
  border-radius: 1rem;
  border: 1px solid black;
}
.card-bottom {
  font-family: Peas;
  font-size: 20px;
  background: rgba(var(--secondary-color), 0.6);
  border-radius: 0 0 1rem 1rem;
  padding-left: 1rem;
  border-top: 1px solid black;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
}

.icon {
  width: 1.5em;
  height: auto;
}

.card-email,
.card-phone {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.title-and-name,
.pic-and-age {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-and-name {
  justify-content: flex-end;
  align-items: flex-start;
}
