@font-face {
  font-family: Devroye;
  src: url(/fonts/DEVROYE_.ttf);
}

@font-face {
  font-family: Peas;
  src: url(/fonts/Yellow\ Peas\ Bold\ demo.ttf);
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --card-witdh: 344px;
  --card-height: 216px;
  --header-height: 50px;
  --footer-height: 20px;
  --main-color: 45, 106, 79;
  --secondary-color: 173, 216, 230;
  /* --main-color: 0, 0, 0;
  --secondary-color: 255, 255, 255; */
  --menu-width: 252px;
  --main-font: Devroye;
  --secondary-font: Peas;
}

body {
  background: linear-gradient(
    rgb(var(--main-color)),
    rgb(var(--secondary-color))
  );
  min-height: 100vh;
}

#content {
  min-width: 100vw;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: 100vw;
  height: var(--header-height);
  padding: 2rem;
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: rgba(var(--secondary-color), 0.9);
  box-shadow: 0 5px 5px black;
  z-index: 2;
  font-family: var(--secondary-font);
}

#cards-wrapper {
  width: 100%;
  margin: calc(var(--header-height) + 1rem) auto var(--footer-height) auto;
  padding: 1em;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(var(--card-witdh), 1fr));
  place-items: center;
  gap: 1em;
}

#aside {
  width: var(--menu-width);
  padding: 1rem;
  position: fixed;
  top: calc(var(--header-height) + 30px);
  left: calc(-1 * var(--menu-width));
  background: linear-gradient(
    rgb(var(--secondary-color)),
    rgb(var(--main-color))
  );
  border-radius: 0 2rem 2rem 0;
  border-width: 5px 5px 5px 0;
  border-style: solid;
  border-color: black;
  transition: transform 0.7s ease-in-out;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  font-family: var(--secondary-font);
  font-size: 1.5em;
}

#menu-button {
  width: 20px;
  height: auto;
}

#menu-button:hover {
  cursor: pointer;
}

#aside.hidden {
  transform: translatex(calc(-1 * var(--menu-width)));
}

#aside:not(.hidden) {
  transform: translatex(var(--menu-width));
}

#sort-and-filter {
  text-align: right;
}

fieldset {
  margin: 0 auto;
  padding: 0.2rem;
  background: linear-gradient(
    rgb(var(--main-color)),
    rgb(var(--secondary-color))
  );
  border: 5px solid black;
  border-radius: 10px;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

h2 {
  text-align: center;
}

.footer {
  width: 100vw;
  height: var(--footer-height);
  position: fixed;
  bottom: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(var(--main-color), 0.9);
  border-top: 1px solid black;
  font-family: var(--secondary-font);
}

.card {
  width: var(--card-witdh);
  height: var(--card-height);
  display: grid;
  grid-template-rows: 3fr 2fr;
  border: 2px solid black;
  border-radius: 16px;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
  backdrop-filter: blur(5px);
}

.card-top {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
  background-color: rgba(var(--main-color), 0.6);
  border-radius: 1rem 1rem 0 0;
  font-family: var(--main-font);
  font-size: 1.5em;
}
.card-image {
  border-radius: 1rem;
  border: 1px solid black;
}
.card-bottom {
  padding-left: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  background: rgba(var(--secondary-color), 0.6);
  border-radius: 0 0 1rem 1rem;
  border-top: 1px solid black;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

/* .icon {
  width: 1.5em;
  height: auto;
} */

.gender,
.name,
.age {
  width: 50px;
  height: 50px;
  background: linear-gradient(
    rgb(var(--secondary-color)),
    rgb(var(--main-color))
  );
  border-radius: 50%;
  border: 2px solid black;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.9);
}

.male-female,
.name-sort,
.age-sort,
.icon {
  width: auto;
  height: 1.5em;
}

.icon {
  width: auto;
  height: 1em;
}

.card-email,
.card-phone {
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
}

.title-and-name,
.pic-and-age {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.title-and-name {
  justify-content: flex-end;
  align-items: flex-start;
}

input[type='number'] {
  width: 50px;
}

input {
  border-radius: 5px;
  text-align: center;
  font-family: var(--secondary-font);
  font-size: 1.2rem;
}

.is-pressed {
  /* outline: none; */
  border-color: #f58467;
  box-shadow: 0 0 10px #f58467;
}
